.contacts .container {
  border-radius: 10px;
  background-color: #E5E5E5;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.contacts .text-inputs {
  display: flex;
  flex-direction: column;
}
.contacts .text-inputs .vertical-input {
  display: flex;
}
.contacts .text-inputs .submit-button {
  background-color: #121112;
  color: #f44c17;
}
.contacts .text-inputs .submit-button:active {
  color: #121112;
  background-color: #f44c17;
}

@media (min-width: 1921px) {
  .contacts .container {
    height: 575px;
    margin-bottom: 120px;
    padding: 108px 104px 0px 104px;
  }
  .lets-talk {
    width: 437px;
  }
  .lets-talk h2 {
    width: 437px;
    margin-bottom: 27px;
  }
  .lets-talk .b4 {
    width: 369px;
  }
  .text-inputs {
    gap: 26px;
    width: 840px;
  }
  .text-inputs .vertical-input {
    gap: 26px;
  }
  .text-inputs .submit-button {
    width: 177px;
  }
}
@media (max-width: 1920px) {
  .contacts .container {
    height: 575px;
    margin-bottom: 120px;
    padding: 108px 104px 0px 104px;
  }
  .lets-talk {
    width: 437px;
  }
  .lets-talk h2 {
    width: 437px;
    margin-bottom: 27px;
  }
  .lets-talk .b4 {
    width: 369px;
  }
  .text-inputs {
    gap: 26px;
    width: 840px;
  }
  .text-inputs .vertical-input {
    gap: 26px;
  }
  .text-inputs .submit-button {
    width: 177px;
  }
}
@media (max-width: 1600px) {
  .contacts .container {
    height: 515px;
    margin-bottom: 60px;
    padding: 90px 80px 0px 70px;
  }
  .lets-talk {
    width: 382px;
  }
  .lets-talk h2 {
    width: 383px;
    margin-bottom: 22px;
  }
  .text-inputs {
    gap: 23px;
    width: 757px;
  }
  .text-inputs .vertical-input {
    gap: 23px;
  }
  .text-inputs .submit-button {
    width: 155px;
  }
}
@media (max-width: 1440px) {
  .contacts .container {
    height: 431px;
    margin-bottom: 60px;
    padding: 81px 70px 0px 70px;
  }
  .lets-talk {
    width: 325px;
    margin-bottom: 18px;
  }
  .lets-talk h2 {
    width: 330px;
    margin-bottom: 18px;
  }
  .text-inputs {
    gap: 20px;
    width: 630px;
  }
  .text-inputs .vertical-input {
    gap: 20px;
  }
  .text-inputs .submit-button {
    width: 134px;
  }
}
@media (max-width: 1200px) {
  .contacts .container {
    height: 374px;
    margin-bottom: 60px;
    padding: 60px 45px 0px 45px;
  }
  .lets-talk {
    width: 325px;
  }
  .lets-talk h2 {
    width: 326px;
    margin-bottom: 17px;
  }
  .lets-talk .b4 {
    width: 330px;
  }
  .text-inputs {
    gap: 16px;
    width: 450px;
  }
  .text-inputs .vertical-input {
    gap: 16px;
  }
  .text-inputs .submit-button {
    width: 134px;
  }
}
@media (max-width: 992px) {
  .contacts .container {
    height: auto;
    margin-bottom: 74px;
    padding: 48px 24px 48px 24px;
  }
  .lets-talk {
    width: 207px;
  }
  .lets-talk h2 {
    font-size: 52px;
    width: 253px;
    margin-bottom: 12px;
  }
  .lets-talk .b4 {
    width: 200px;
  }
  .text-inputs {
    gap: 12px;
    width: 384px;
  }
  .text-inputs .vertical-input {
    gap: 12px;
  }
  .text-inputs .submit-button {
    width: 193px;
  }
}
@media (max-width: 768px) {
  .contacts .container {
    height: auto;
    margin-bottom: 74px;
    padding: 48px 35px 40px 35px;
    flex-direction: column;
  }
  .lets-talk {
    width: auto;
    margin-bottom: 40px;
  }
  .lets-talk h2 {
    width: auto;
    margin-bottom: 12px;
  }
  .lets-talk .b4 {
    width: 371px;
  }
  .text-inputs {
    flex-direction: column;
    width: 480px;
    gap: 12px;
  }
  .contacts .text-inputs .vertical-input {
    flex-direction: column;
  }
  .text-inputs .vertical-input {
    gap: 12px;
  }
  .text-inputs .submit-button {
    width: auto;
    margin-top: 19px;
  }
}
@media (max-width: 576px) {
  .contacts .container {
    height: auto;
    margin-bottom: 74px;
    padding: 48px 35px 40px 35px;
    flex-direction: column;
  }
  .lets-talk {
    width: auto;
    margin-bottom: 40px;
  }
  .lets-talk h2 {
    width: auto;
    margin-bottom: 22px;
  }
  .lets-talk .b4 {
    width: auto;
  }
  .text-inputs {
    flex-direction: column;
    width: -webkit-fill-available;
    gap: 12px;
  }
  .text-inputs .vertical-input {
    gap: 12px;
  }
  .text-inputs .submit-button {
    width: auto;
    margin-top: 19px;
  }
}
@media (max-width: 390px) {
  .contacts .container {
    height: auto;
    margin-bottom: 74px;
    padding: 48px 35px 40px 35px;
    flex-direction: column;
  }
  .lets-talk {
    width: auto;
    margin-bottom: 36px;
  }
  .lets-talk h2 {
    width: auto;
    margin-bottom: 16px;
  }
  .lets-talk .b4 {
    width: auto;
  }
  .text-inputs {
    flex-direction: column;
    gap: 10px;
  }
  .text-inputs .vertical-input {
    gap: 10px;
  }
  .text-inputs .submit-button {
    width: auto;
    margin-top: 28px;
  }
}/*# sourceMappingURL=form.css.map */