// scss code start

$orange: #f44c17; // Ярко-оранжевый цвет
$black: #121112; // Темно-серый, почти черный цвет
$white: #eeeff0; // Светло-серый цвет
$gray: #8b8e92; // Средне-серый цвет

// scss code end

// header start 
header {
	background-color: $black;
	display: flex;
	
	.container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.menu-icon {
		display: none;
	}

	.logo {
		font-size: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        color: #FFF;
        font-family: Poppins;
        font-weight: 700;
        letter-spacing: 1.44px;
	}

	ul { 
		display: flex;

		li {
			color: $gray;
			transition: all 0.3s ease; 
			
			a {
				text-decoration: none; 
				color: currentColor; 
				display: block; 
			}
			
			&:hover {
				color: $orange;
				transform: translateY(-3px); 
			}
		}
	} 
}
// header end



// works section start

// .works {

// 	margin-top: 80px;
// 	margin-bottom: 80px;

// 	.gallery {

// 		display: flex;
// 		flex-wrap: wrap;
// 		gap: 20px;
// 		justify-content: flex-start;
// 		margin-bottom: 20px;
// 		width: calc(400px * 3 + 20px * 2); 

// 		.photo {
// 			width: 400px;
// 			height: 360px;
// 			border-radius: 4px;
// 			transition: transform 0.5s, height 0.5s ease;
// 		}

// 		.photo img {
// 			width: 100%;
// 			height: 100%;
// 			border-radius: 4px; 
// 			object-fit: cover; 
// 		}

// 		.photo.hidden {
// 			transform: scaleY(0);
// 			height: 0; 
// 			transition: transform 0.5s, height 0.5s ease;
// 		  }
// 	}

// 	.button-container {
// 		display: flex;
// 		justify-content: center; /* This will center the button */
// 	}

// }


// works section end


// services section start

// h2 {
// 	padding-bottom: 50px;
// 	width: 200px;
// }

// .services {
// 	.services-list {
// 		display: flex;
// 		flex-direction: row;
// 		justify-content: space-between;
//   	}
//   	.service-box {
// 		width: 190px;

// 		.service-number {
// 			color: $black;
// 			font-family: Helvetica, Arial, sans-serif;
// 			font-size: 48px;
// 			font-style: normal;
// 			font-weight: 700;
// 			line-height: 80px;
// 			letter-spacing: -0.933px;
// 			display: inline-block;
// 			position: relative;
// 			margin-bottom: 27px;
// 	   }
// 		  .service-number::after {
// 			content: '';
// 			display: block;
// 			width: 190px;
// 			height: 6px;
// 			background-color: $orange;
// 			position: absolute;
// 			bottom: -10px;
// 		}

// 		h4 {
// 			padding-bottom: 23px;
// 			padding-top: 10px;
// 		}

//   	}

// }
// services section end


// video section start
// .video {
// 	margin: 100px 0px;
// 	.container {
// 		display: flex;
//     	align-items: center;
//     	flex-direction: column;

// 		video {
// 			height: 586px;
// 		}
// 	}
// }
// video section end


// contacts section start
// contacts section end


// footer section start
// footer {
// 	background-color: #E5E5E5;
// 	height: 154px;

//   .container {

// 	height: 100%;

// 	.pre-container {

// 		display: flex;
// 		flex-direction: row;
// 		align-items: center;
// 		justify-content: space-between;
// 		height: 100%;
// 	}
// 		.branding {

// 			.max-quality {
// 				color: $black;
// 				font-family: Poppins;
// 				font-size: 16px;
// 				letter-spacing: -0.505px;
// 				font-weight: 700;
// 				margin-bottom: 12px;
// 			}

// 			.tagline {
// 				color: #7B7780;
// 				font-family: Helvetica;
// 				font-size: 14px;
// 				letter-spacing: -0.933px;
// 				width: 148px;
// 				line-height: 18px;
// 			}
// 		}

// 		.social-icons {
// 			display: flex;
// 			flex-direction: row;
// 			align-items: center;
// 			gap: 20px;
// 		}

// 		.contact {
// 			display: flex;
//     		flex-direction: row;
//     		align-items: center;
//     		gap: 44px;

// 			.get-in-touch {
// 				color: $black;
// 				font-family: Helvetica;
// 				font-size: 40px;
// 				letter-spacing: -0.933px;
// 			}
// 		}
//   }
	
// }
// footer section end









@media (min-width: 1921px) {
	header {
        height: 80px;
		max-width: 1921px;
		margin: 0 auto;
    }
    header ul {
        gap: 98px;
    }
    header ul a {
        font-size: 24px;
    }
}


@media (max-width: 1920px)  {
    header {
        height: 80px;
    }
    header ul {
        gap: 98px;
    }
    header ul a {
        font-size: 24px;
    }
}

@media (max-width: 1600px) {
    header {
        height: 70px;
    }
    header ul {
        gap: 86px; 
    }
    header ul a {
        font-size: 21px; 
    }
}

@media (max-width: 1440px) {
    header {
        height: 60px;
    }
    header ul {
        gap: 75px;
    }
    header ul a {
        font-size: 18px;
    }
}

@media (max-width: 1200px) {
    header {
        height: 70px;
    }
    header ul {
        gap: 60px;
    }
    header ul a {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    header {
        height: 65px;
    }
    header ul {
        gap: 50px;
    }
    header ul a {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    header {
        height: 56px;
    }
    header ul {
        gap: 44px;
    }
    header ul a {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    header {
        height: 60px;
    }
    header nav {
        display: none;
    }
    header .menu-icon {
        display: block;
    }
    header ul {
        gap: 30px;
    }
    header ul a {
        font-size: 16px;
    }
}

@media (max-width: 390px) {
    header {
        height: 60px;
    }
    header nav {
        display: none; 
    }
    header .menu-icon {
        display: block; 
    }
    header ul {
        gap: 44px;
    }
    header ul a {
        font-size: 18px;
    }
}







