$orange: #f44c17; // Ярко-оранжевый цвет
$black: #121112; // Темно-серый, почти черный цвет
$white: #eeeff0; // Светло-серый цвет
$gray: #8b8e92; // Средне-серый цвет

.root {
    background: #EEEFF0;
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
}

.login-box {

    width: 820px;
    height: 409px;
    border-radius: 4px;
    background: #FCFCFC;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-container {
        display: flex;
        color: #8B8E92;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.44px;
        flex-direction: column;
        padding-top: 32px;

        .logo {
            width: 82px;
            height: 60px;
            margin: 0 auto;
        }   
    }

    .input-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 44px;

        input {
            color: #8B8E92;
            font-family: Helvetica;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 12px;
            background: none;
            width: 330px;
            height: 40px;
            border: 1px solid #D6D7D8;
            padding: 8px 0px 8px 18px;
        }

        .password-container {
            position: relative;

            input {
                color: #8B8E92;
                font-family: Helvetica;
                font-size: 15px;
                font-weight: 400;
                line-height: 24px;
            }

            .eye-icon {
                position: absolute;
                right: 10px; 
                top: 10px;  
                cursor: pointer;
              }
          }
          
          button {
            margin-top: 22px;
            width: 330px;
            height: 40px;
            padding: 8px 33px;
          }
    }
}