<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/general.css" />
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/admin/admin.css" />
    <title>Document</title>
</head>

<body>
    <div class="root">

        <header>
            <div class="container">
                <div class="logo">
                    <img src="../static/src/LOGO-2.svg" alt="Logo">
                    MAX QUALITY ADMINISTRATION 
                </div>
            </div>
        </header>


    <section class="tabs">
        <div class="container">
            <button class="tablinks" onclick="openTab(event, 'clients')">Clients</button>
            <button class="tablinks" onclick="openTab(event, 'gallery')">Gallery</button>
        </div>

        <div id="clients" class="tabcontent">
            <!-- Содержимое для таба Clients -->
            <h3>Clients</h3>
            <p>Some content for Clients.</p>
          </div>
          
          <div id="gallery" class="tabcontent">
            <!-- Содержимое для таба Gallery -->
            <h3>Gallery</h3>
            <p>Some content for Gallery.</p>
          </div>

    </section>


      
    <section>

    </section>

    <section>

    </section>

    </div>

    <script src="../static/js/admin.js"></script>
</body>

</html>