<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/general.css" />
    <link rel="stylesheet" href="../static/css/admin/login.css" />
    <title>Document</title>
</head>

<body>
    <div class="root">

        <div class="login-box">
            <div class="logo-container">
                <img class="logo" src="../static/src/logoFooter.svg" alt="Logo">
                MAX QUALITY ADMINISTRATION
            </div>
            <div class="input-box">

            </div>
        </div>

    </div>
</body>

</html>